<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Livro de Receitas</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" ><a routerLink="/recipes">Receitas</a></li>
                <li routerLinkActive="active" ><a routerLink="/shopping-list">Lista de Compras</a></li>        
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Ações<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;">Salvar</a></li>
                        <li><a style="cursor: pointer;">Consultar</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>