<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="colx-xs-12">
        <h1>Nome da Receita</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle">
                Ações<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Comprar</a></li>
                <li><a href="#">Alterar</a></li>
                <li><a href="#">Excluir</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="colx-xs-12">
        <p>Nome da Receita</p>
    </div>
</div>
<div class="row">
    <div class="colx-xs-12">
        <p>Ingredientes</p>
    </div>
</div>